.users{
  width: 100%;
  border: 2px solid black;
  height: 40px;
  margin-top: 2px;
  border-radius: 25px 0px 0px 25px;
  width: 85%;
  float:right;
  transition: width 0.5s;
}

.active-player{
  width:100%
}